<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="ksa.js"></script>
    <!--
    <script src="./data/vue.js"></script>
    -->
</head>
<body>
<style>
    div { background: rgba(0,0,0,.2); padding: 20px; color: #fff; margin: 5px;}
</style>
<a>link</a>
<template id="vue-template">
    <table>
        <tr><th>姓名</th><td>{{name}}</td></tr>
        <tr><th>性别</th><td>{{sex}}</td></tr>
        <tr><th>学校</th><td>{{school}}</td></tr>
        <tr><th>电话</th><td>{{tel}}</td></tr>
    </table>
    ###
    <!-- {{name}} -->
    {{name =='1' ? 'name1' : (name === 3 ? 3 : sex)}}
    <div>
    <template v-for="(value,key) in list">
        <template v-if="value.name != '张三1'">
            <div>{{key}} : {{value.name}} {{value.sex}} {{name}}</div>
        </template>
        <template v-else-if="value.name == '张三10'">
            <div>【elseif】 {{value.name}}</div>
        </template>
        <template v-else>
            <div>【else】</div>
        </template>
        <template v-if="key =='data'">
            <template v-for="(v,k) in value.list">
            <p>{{v}}</p>
            </template>
        </template>
    </template>
    </div>
</template>

<div id="vuedom" style="display: none"></div>


<script>
    var LOOPMAX = 1;

    var sdt = {
        updateValue : '',
        name : '二大爷',
        sex : '男',
        school :'江山中学',
        tel :'18888888888',
        list1 : [
            {name : '张二娃', sex : '男'},
            {name : '李老五', sex : '男'}
        ],
        list : {
            0 : {name : '张二娃', sex : '男'},

            1 : {name : '李老五', sex : '男'},
            2 : {name : '王同学', sex : '男'},
            99 : {name : '梅老坎99', sex : '男'},
            data : {
                name : '附加list',
                sex : '性别NO',
                list : {
                    'a1' : '男1',
                    'a2' : '男2',
                }
            }
        }
    };
    $('a').click(function(){
        debug([this]);
    });
</script>
<script>


    (function(){return;
        Vue.config.devtools = false;
        Vue.config.productionTip = false;
        var template = $('#vue-template').html();
        var pushDOM = $('#vuedom');

        for(var i =0; i<LOOPMAX; i++){
            (function(){
                var dom = $.dom('<div>'+template.replace('###',i)+'</div>');
                pushDOM.append(dom);
            })();
        }
        console.time("VUE");
        var VUE = new Vue({el : '#vuedom', data : sdt});
        debug(VUE);
        console.timeEnd("VUE");
    })();

</script>

<script type="text/html" id="template">
    <table class="as">
        <tr><th>姓名</th><td>{{name}}</td></tr>
        <tr><th>性别</th><td>{{sex}}</td></tr>
        <tr><th>学校</th><td>{{school}}</td></tr>
        <tr><th>电话</th><td>{{tel}}</td></tr>
    </table>
    <!-- {{name}} -->
    {{name =='1' ? 'name1' : (name === 3 ? 3 : sdt.sex)}}
    <div>
        <p>双向绑定：</p>
        <input type="text" value="" placeholder="请输入" v-updateText="updateValue">
        <textarea value="" placeholder="请输入" v-updateText="updateValue"></textarea>
        <select v-updateText="updateValue" multiple="multiple">
            <option value="值1">选项1</option>
            <option value="值2">选项2</option>
        </select>

        <input type="checkbox" value="值1" v-updateText="updateValue">选项1</input>
        <input type="checkbox" value="值2" v-updateText="updateValue">选项2</input>
        <input type="radio" name="a" value="值1" v-updateText="updateValue">选项1</input>
        <input type="radio" name="a" value="值2" v-updateText="updateValue">选项2</input>
        <div>双向绑定值：{{updateValue}}</div>
    </div>
    <table>
        {{loop list key  value}}
        <tbody>
        <tr>
            <td>
                {{eval}}
                var evaladd = {a:('123'+key)};
                {{/eval}}

                {{if value.name}}
                <div class="class-{{value.name}} sdjj">{{key}} : {{value.name}} {{value.sex}} / {{name}} / {{evaladd.a}}
                </div>
                {{elseif value.name ===''}}
                <div>【elseif】 {{value.name}} 空白</div>
                {{else}}
                <div>【else】</div>
                {{/if}}
                {{if key =='data'}}
                {{loop value.list k v}}
                <p>{{v}}</p>
                {{/loop}}

                {{/if}}
            </td>
        </tr>
        </tbody>

        {{/loop}}


    </table>
</script>
<div id="mvvm"></div>
<script>
    /*
    (function(template){
        var tpl = {
            code : template,
            Dom : document.createDocumentFragment(), //虚拟节点
            init : function(){
              this.formatHTML();
            },
            formatHTML : function () {
                var ths = this;
                //规整语法 去掉{{}}里面的空白字符
                template = template.replace(/\{\{(.*?)\}\}/g, function(){
                    return '{{'+arguments[1].trim()+'}}';
                });

                var zIndex = 0; //标记累加记号
                var indexMap = {
                    loop : [],
                    if : []
                };
                template = template.replace(/\{\{(((if|loop)(\s+.*?))|(\/(if|loop)))\}\}/g, function(){
                    var arg = arguments;
                    if(arg[1].substr(0,1) === '/'){
                        return '<!--'+arg[1]+'-'+indexMap[arg[6]].pop()+'-->';
                    }else{
                        zIndex ++;
                        if(!indexMap[arg[3]]){
                            indexMap[arg[3]] = [];
                        }
                        indexMap[arg[3]].push(zIndex);
                        return '<!--'+arg[3]+'-'+zIndex+''+arg[4]+'-->';
                    }
                });
                template = template.replace(/\{\{(else|elseif\s.*?)\}\}/g, function(){
                    return '<!--'+arguments[1]+'-->';
                });
                template = template.replace(/\{\{eval\s+(.*?)\}\}/g, function(){
                    return '<!--eval '+arguments[1]+'-->';
                });
                template = template.replace(/\{\{eval\}\}([\s\S]*?)\{\{\/eval\}\}/g, function(){
                    return '<!--eval '+arguments[1].trim()+'-->';
                });
                $.loop($.dom(template), function(e){

                    ths.Dom.appendChild(e);
                });
                debug(ths.Dom);
                return this;
            }
        }

        tpl.init();
        //$('#template').after(template).remove();

    })($('#template').html());
    */
    var KTPL;
    (function(){
        var template = $('#template').html();
        var code = '';
        for(var i =0; i<LOOPMAX; i++){
            code += template;
        }
        $('#template').html(code);
        console.time('KSA');
        KTPL = $('#template').tpl(sdt);
        console.timeEnd('KSA');
    })();


/*
    //eval性能测试
    (function(){
        var NMAX = 1000;
        var code = [];
        for(var i =0; i<NMAX; i++){
            code.push(' "<p>姓名："+sdt.name+"</p><p>性别："+sdt.sex+"</p>" ');
        }
        code = code.join('+');
        console.time('test1');
        eval(code);
        console.timeEnd('test1');

        console.time('test2');
        for(var i =0; i<NMAX; i++){
            eval(' "<p>姓名："+sdt.name+"</p><p>性别："+sdt.sex+"</p>" ');
        }
        console.timeEnd('test2');


    })();
*/



/*
//获取被触发的函数名
    var abc = {
        name : 123
    };
    Object.defineProperty(abc, 'name', {
        enumerable: true,
        configurable: true,
        set : function(v){
        },
        get : function(v){
            debug(new Error());
            //debug(new Error().stack.split("\n")[2].trim().split(" ")[4]);
            return v;
        }
    });
    var xx = ' (function(){return abc.name})() ';
    function a(){
        debug(new Error().stack);
        //debug((new Error()).stack.split("\n")[2].trim().split(" ")[1]);
    }
    function ifelseEvel(){
        eval('('+xx+')');
    }
    ifelseEvel();

    (function () {
        return ;
        var obj = {};

        function nodeContainer(node, vm, flag){
            var flag = flag || document.createDocumentFragment();

            var child;
            while(child = node.firstChild){
                compile(child, vm);
                flag.appendChild(child);
                if(child.firstChild){
                    nodeContainer(child, vm, flag);
                }
            }
            return flag;
        }

        //编译
        function compile(node, vm){
            var reg = /\{\{(.*)\}\}/g;
            if(node.nodeType === 1){
                var attr = node.attributes;
                //解析节点的属性
                for(var i = 0;i < attr.length; i++){
                    if(attr[i].nodeName == 'v-model'){

                        var name = attr[i].nodeValue;
                        node.addEventListener('input',function(e){
                            vm[name] = e.target.value;
                        });

                        node.value = vm[name];//讲实例中的data数据赋值给节点
                        node.removeAttribute('v-model');
                    }
                }
            }
            //如果节点类型为text
            if(node.nodeType === 3){

                if(reg.test(node.nodeValue)){
                    // console.dir(node);
                    var name = RegExp.$1;//获取匹配到的字符串
                    name = name.trim();
                    // node.nodeValue = vm[name];
                    new Watcher(vm,node,name);
                }
            }
        }

        function defineReactive (obj, key, value){
            var dep = new Dep();
            Object.defineProperty(obj,key,{
                get:function(){
                    console.log(Dep.global);
                    if(Dep.global){
                        dep.add(Dep.global);
                    }
                    console.log("get了值"+value);
                    return value;
                },
                set:function(newValue){
                    if(newValue === value){
                        return;
                    }
                    value = newValue;
                    console.log("set了最新值"+value);
                    dep.notify();
                }
            })
        }

        function observe (obj,vm){
            Object.keys(obj).forEach(function(key){
                defineReactive(vm,key,obj[key]);
            })
        }

        function Vue(options){
            this.data = options.data;
            var data = this.data;
            observe(data,this);
            var id = options.el;
            var dom = nodeContainer(document.getElementById(id),this);
            document.getElementById(id).appendChild(dom);
        }

        function Dep(){
            this.subs = [];
        }
        Dep.prototype ={
            add:function(sub){
                this.subs.push(sub);
            },
            notify:function(){
                this.subs.forEach(function(sub){
                    console.log(sub);
                    sub.update();
                })
            }
        }


        function Watcher(vm,node,name){
            Dep.global = this;
            this.name = name;
            this.node = node;
            this.vm = vm;
            this.update();
            Dep.global = null;
        }

        Watcher.prototype = {
            update:function(){
                this.get();
                switch (this.node.nodeType) {
                    case 1:
                        this.node.value = this.value;
                        break;
                    case 3:
                        this.node.nodeValue = this.value;
                        break;
                    default: break;
                }
            },
            get:function(){
                this.value = this.vm[this.name];
            }
        }


        var Demo = new Vue({
            el:'mvvm',
            data:{
                text:'HelloWorld',
                d:'123'
            }
        })
    })();
    /*
    var x = $('body').find('.inputs select').nextAll();
    console.dir(x);*/
    /*
    KSA.ajax({
        url : 'https://shop.ksaos.com/index/index/test',
        contentType : 'get',
        dataType : 'JSON',
        data : {
            zhangsan : '张三'
        },
        success : function(s){
            console.dir(s);
        }
    });

    KSA('.a').on('click', '.xx', function(e){
        console.dir(this.innerHTML);
    });
    KSA('.xx3').on('click', function(e){
        return false;
    });


var XX = KSA('.b').after('<i>new1</i><span>new2</span>').click(function(){
    console.dir(this);
});


var XX = KSA('.b').attr('aa cc','12').removeAttr('cc').data({'aa':123}).data('aa');

console.dir(XX);
*/

</script>
</body>
</html>