@ColorList : primary, success, warning, danger, blue , indigo , purple , pink , red , orange , yellow , green , teal , cyan , white , gray , light , black;
@ColorListValue : #4792fb, #5ab32d, #ea981d, #ff6a5b, #4792fb, #727cf5, #6b5eae, #ff679b, #ff381e, #ff9041, #f9bc0d, #5abd48, #14d0ef, #00d4c0, #fff, #9e9e9e, #bec3ca, #474d56;
@ColorListLength : length(@ColorList);



@defColor: #4a4a4a; //通用主色
@textColor: #9e9e9e; //浅色文字
@highColor: #4792fb; //高亮主色 突出

@blue: #4792fb;// 蓝色 blue
@indigo: #727cf5;// 靛青色 indigo
@purple: #6b5eae;// 紫色 purple
@pink: #ff679b;// 粉色 pink
@red: #ff381e;// 红 red
@orange: #ff9041;// 橙色 orange
@yellow: #f9bc0d;// 黄色 yellow
@green: #5abd48;// 绿色 green
@teal: #14d0ef;// 天空蓝 teal
@cyan: #00d4c0;// 青色 cyan
@white: #fff;// 白色 white
@gray: #9e9e9e;// 灰色 gray
@light: #bec3ca;// 浅白 light
@black: #474d56;// 暗色 black

//== 定义边框色 ==
@borderColor: #e4e8ec;

//表单高度
@inputHeight : 36px;

//色调支持
@primary : #4792fb; //主色
@success : #5ab32d; //成功
@warning : #ea981d; //警告
@danger : #ff6a5b; //错误/危险

html {font-size: 13.33333vw;}
body {font-size: .24rem; color: #3a3a3a}

ks-hr {width: 200%; transform: scale(0.5) translateX(-50%)}

.ks-textarea > textarea { height: 0.8rem;}

//输入框
ks-btn,
ks-input-group > *,
.ks-input > input,
.ks-input-arrow input,
.ks-select,
.ks-date,
ks-area,
ks-form ks-form-label{ height: 0.8rem; line-height: 0.8rem;}

.ks-select {
    border: none;
    .ks-select-title { padding: 0 0.35rem 0 0.1rem}
    .ks-select-title:before { font-size: 0.36rem; width: auto}
}

ks-form {
    font-size: 0.28rem;
    ks-form-item { margin-bottom: 0.4rem;}
    ks-input-group  {
        > * { border: none !important; border-radius: 0 !important; }
        > input {padding:0 }
    }
}

html ks-pic {
    width: 1.6rem; height: 1.6rem;
    > label:before { font-size: 0.6rem;}
}


//按钮
ks-btn {
    min-width: 2.2rem; font-size: 0.3rem;
    &[size=small] {height: 0.54rem; line-height: 0.56rem; min-width: 1.1rem; font-size: 0.25rem; padding: 0 0.2rem;}
    &[size=mini] {height: 0.44rem; line-height: 0.44rem; min-width: 1rem; font-size: 0.22rem; padding: 0 0.2rem;}
}


//tab选项卡
ks-tab {
    ks-tab-title {
        height: 1.2rem; line-height: 1.2rem; font-size: 0.28rem; display: flex;
        &:after { content: ''; height: 1px; width: 200%; background: #ddd; position: absolute; bottom: 0; left: 0; transform: scale(0.5) translateX(-50%)}
        ks-tab-title-status { width: 0.4rem; height: 0.06rem; border-radius: 1rem; margin-left: -0.2rem;}
        ks-tab-title-item {
            min-width: 1.2rem; margin-right: 0.1rem; padding: 0 0.2rem; flex:1 0 auto; flex-wrap:wrap;
            &[active] { font-weight: bold;}
        }
    }
}

//卡片盒子
ks-card {
    border-radius: 0.05rem; box-shadow:  0 0 0.05rem #e8e8e8;
    ks-card-title, ks-card-content { padding:0.3rem 0.3rem;}
}

.ks-layer {
    .ks-layer-content {padding: 0.4rem}
}
.ks-layer-select { width: 100%;
    .ks-list-select > ks-list-item { padding: 0.3rem 0; font-size: 0.28rem}
}


//文字大小
.ks-f0 {font-size: 0.2rem;}
.ks-f1 {font-size: 0.22rem;}
.ks-f2 {font-size: 0.24rem;}
.ks-f3 {font-size: 0.26rem;}
.ks-f4 {font-size: 0.28rem;}
.ks-f5 {font-size: 0.30rem;}
.ks-f6 {font-size: 0.32rem;}
.ks-f7 {font-size: 0.34rem;}
.ks-f8 {font-size: 0.36rem;}
.ks-f9 {font-size: 0.38rem;}
.ks-f10 {font-size: 0.40rem;}
.ks-f11 {font-size: 0.42rem;}
.ks-f12 {font-size: 0.44rem;}
.ks-f13 {font-size: 0.46rem;}
.ks-f14 {font-size: 0.48rem;}
.ks-f15 {font-size: 0.50rem;}
.ks-f16 {font-size: 0.52rem;}
.ks-f17 {font-size: 0.54rem;}

//内边距
.ks-p { padding: 0.2rem;}	.ks-p-sub > * {padding: 0.2rem;}
.ks-p0 { padding:0 !important;}	.ks-p0-sub > * {padding: 0 !important;}
.ks-p1 { padding: 0.1rem;}	.ks-p1-sub > * {padding: 0.1rem;}
.ks-p2 { padding: 0.15rem;}	.ks-p2-sub > * {padding: 0.15rem;}
.ks-p3 { padding: 0.2rem;}	.ks-p3-sub > * {padding: 0.2rem;}
.ks-p4 { padding: 0.3rem;}	.ks-p4-sub > * {padding: 0.3rem;}
.ks-p5 { padding: 0.4rem;}	.ks-p5-sub > * {padding: 0.4rem;}

.ks-pt { padding-top: 0.2rem;}	.ks-pt-sub > *:not(:first-child) { padding-top: 0.2rem;}
.ks-pt0 { padding-top:0 !important;}
.ks-pt1 { padding-top: 0.1rem;}	.ks-pt5-sub > *:not(:first-child) { padding-top: 0.1rem;}
.ks-pt2 { padding-top: 0.15rem;}	.ks-pt5-sub > *:not(:first-child) { padding-top: 0.15rem;}
.ks-pt3 { padding-top: 0.2rem;}	.ks-pt5-sub > *:not(:first-child) { padding-top: 0.2rem;}
.ks-pt4 { padding-top: 0.3rem;}	.ks-pt5-sub > *:not(:first-child) { padding-top: 0.3rem;}
.ks-pt5 { padding-top: 0.4rem;}	.ks-pt5-sub > *:not(:first-child) { padding-top: 0.4rem;}


.ks-pr { padding-right: 0.2rem;}	.ks-pr-sub > *:not(:first-child) { padding-right: 0.2rem;}
.ks-pr0 { padding-right:0 !important;}
.ks-pr1 { padding-right: 0.1rem;}	.ks-pr5-sub > *:not(:first-child) { padding-right: 0.1rem;}
.ks-pr2 { padding-right: 0.15rem;}	.ks-pr5-sub > *:not(:first-child) { padding-right: 0.15rem;}
.ks-pr3 { padding-right: 0.2rem;}	.ks-pr5-sub > *:not(:first-child) { padding-right: 0.2rem;}
.ks-pr4 { padding-right: 0.3rem;}	.ks-pr5-sub > *:not(:first-child) { padding-right: 0.3rem;}
.ks-pr5 { padding-right: 0.4rem;}	.ks-pr5-sub > *:not(:first-child) { padding-right: 0.4rem;}


.ks-pb { padding-bottom: 0.2rem;}	.ks-pb-sub > *:not(:first-child) { padding-bottom: 0.2rem;}
.ks-pb0 { padding-bottom:0 !important;}
.ks-pb1 { padding-bottom: 0.1rem;}	.ks-pb5-sub > *:not(:first-child) { padding-bottom: 0.1rem;}
.ks-pb2 { padding-bottom: 0.15rem;}	.ks-pb5-sub > *:not(:first-child) { padding-bottom: 0.15rem;}
.ks-pb3 { padding-bottom: 0.2rem;}	.ks-pb5-sub > *:not(:first-child) { padding-bottom: 0.2rem;}
.ks-pb4 { padding-bottom: 0.3rem;}	.ks-pb5-sub > *:not(:first-child) { padding-bottom: 0.3rem;}
.ks-pb5 { padding-bottom: 0.4rem;}	.ks-pb5-sub > *:not(:first-child) { padding-bottom: 0.4rem;}

.ks-pl { padding-left: 0.2rem;}	.ks-pl-sub > *:not(:first-child) { padding-left: 0.2rem;}
.ks-pl0 { padding-left:0 !important;}
.ks-pl1 { padding-left: 0.1rem;}	.ks-pl5-sub > *:not(:first-child) { padding-left: 0.1rem;}
.ks-pl2 { padding-left: 0.15rem;}	.ks-pl5-sub > *:not(:first-child) { padding-left: 0.15rem;}
.ks-pl3 { padding-left: 0.2rem;}	.ks-pl5-sub > *:not(:first-child) { padding-left: 0.2rem;}
.ks-pl4 { padding-left: 0.3rem;}	.ks-pl5-sub > *:not(:first-child) { padding-left: 0.3rem;}
.ks-pl5 { padding-left: 0.4rem;}	.ks-pl5-sub > *:not(:first-child) { padding-left: 0.4rem;}

.ks-ptb { padding-top: 0.2rem; padding-bottom: 0.2rem;}		.ks-ptb-sub > * { padding-top: 0.2rem; padding-bottom: 0.2rem;}
.ks-ptb0 { padding-top: 0 !important; padding-bottom:0 !important;}	.ks-ptb0-sub > * { padding-top: 0 !important; padding-bottom: 0 !important;}
.ks-ptb1 { padding-top: 0.1rem; padding-bottom: 0.1rem;}		.ks-ptb1-sub > * { padding-top: 0.1rem; padding-bottom: 0.1rem;}
.ks-ptb2 { padding-top: 0.15rem; padding-bottom: 0.15rem;}	.ks-ptb2-sub > * { padding-top: 0.155rem; padding-bottom: 0.15rem;}
.ks-ptb3 { padding-top: 0.2rem; padding-bottom: 0.2rem;}	.ks-ptb3-sub > * { padding-top: 0.2rem; padding-bottom: 0.2rem;}
.ks-ptb4 { padding-top: 0.3rem; padding-bottom: 0.3rem;}	.ks-ptb4-sub > * { padding-top: 0.3rem; padding-bottom: 0.3rem;}
.ks-ptb5 { padding-top: 0.4rem; padding-bottom: 0.4rem;}	.ks-ptb5-sub > * { padding-top: 0.4rem; padding-bottom: 0.4rem;}

.ks-plr { padding-left: 0.2rem; padding-right: 0.2rem;}		.ks-plr-sub > * { padding-left: 0.2rem; padding-right: 0.2rem;}
.ks-plr0 { padding-left: 0 !important; padding-right:0 !important;}	.ks-plr0-sub > * { padding-left: 0 !important; padding-right: 0 !important;}
.ks-plr1 { padding-left: 0.1rem; padding-right: 0.1rem;}		.ks-plr1-sub > * { padding-left: 0.1rem; padding-right: 0.1rem;}
.ks-plr2 { padding-left: 0.15rem; padding-right: 0.15rem;}	.ks-plr2-sub > * { padding-left: 0.155rem; padding-right: 0.15rem;}
.ks-plr3 { padding-left: 0.2rem; padding-right: 0.2rem;}	.ks-plr3-sub > * { padding-left: 0.2rem; padding-right: 0.2rem;}
.ks-plr4 { padding-left: 0.3rem; padding-right: 0.3rem;}	.ks-plr4-sub > * { padding-left: 0.3rem; padding-right: 0.3rem;}
.ks-plr5 { padding-left: 0.4rem; padding-right: 0.4rem;}	.ks-plr5-sub > * { padding-left: 0.4rem; padding-right: 0.4rem;}

//外边距
.ks-m { margin: 0.2rem;}	.ks-m-sub > * {margin: 0.2rem;}
.ks-m0 { margin:0 !important;}	.ks-m0-sub > * {margin: 0 !important;}
.ks-m1 { margin: 0.1rem;}	.ks-m1-sub > * {margin: 0.1rem;}
.ks-m2 { margin: 0.15rem;}	.ks-m2-sub > * {margin: 0.15rem;}
.ks-m3 { margin: 0.2rem;}	.ks-m3-sub > * {margin: 0.2rem;}
.ks-m4 { margin: 0.3rem;}	.ks-m4-sub > * {margin: 0.3rem;}
.ks-m5 { margin: 0.4rem;}	.ks-m5-sub > * {margin: 0.4rem;}

.ks-mt { margin-top: 0.2rem;}	.ks-mt-sub > *:not(:first-child) { margin-top: 0.2rem;}
.ks-mt0 { margin-top:0 !important;}
.ks-mt1 { margin-top: 0.1rem;}	.ks-mt1-sub > *:not(:first-child) { margin-top: 0.1rem;}
.ks-mt2 { margin-top: 0.15rem;}	.ks-mt2-sub > *:not(:first-child) { margin-top: 0.15rem;}
.ks-mt3 { margin-top: 0.2rem;}	.ks-mt3-sub > *:not(:first-child) { margin-top: 0.2rem;}
.ks-mt4 { margin-top: 0.3rem;}	.ks-mt4-sub > *:not(:first-child) { margin-top: 0.3rem;}
.ks-mt5 { margin-top: 0.4rem;}	.ks-mt5-sub > *:not(:first-child) { margin-top: 0.4rem;}


.ks-mr { margin-right: 0.2rem;}	.ks-mr-sub > *:not(:first-child) { margin-right: 0.2rem;}
.ks-mr0 { margin-right:0 !important;}
.ks-mr1 { margin-right: 0.1rem;}	.ks-mr1-sub > *:not(:first-child) { margin-right: 0.1rem;}
.ks-mr2 { margin-right: 0.15rem;}	.ks-mr2-sub > *:not(:first-child) { margin-right: 0.15rem;}
.ks-mr3 { margin-right: 0.2rem;}	.ks-mr3-sub > *:not(:first-child) { margin-right: 0.2rem;}
.ks-mr4 { margin-right: 0.3rem;}	.ks-mr4-sub > *:not(:first-child) { margin-right: 0.3rem;}
.ks-mr5 { margin-right: 0.4rem;}	.ks-mr5-sub > *:not(:first-child) { margin-right: 0.4rem;}


.ks-mb { margin-bottom: 0.2rem;}	.ks-mb-sub > *:not(:first-child) { margin-bottom: 0.2rem;}
.ks-mb0 { margin-bottom:0 !important;}
.ks-mb1 { margin-bottom: 0.1rem;}	.ks-mb1-sub > *:not(:first-child) { margin-bottom: 0.1rem;}
.ks-mb2 { margin-bottom: 0.15rem;}	.ks-mb2-sub > *:not(:first-child) { margin-bottom: 0.15rem;}
.ks-mb3 { margin-bottom: 0.2rem;}	.ks-mb3-sub > *:not(:first-child) { margin-bottom: 0.2rem;}
.ks-mb4 { margin-bottom: 0.3rem;}	.ks-mb4-sub > *:not(:first-child) { margin-bottom: 0.3rem;}
.ks-mb5 { margin-bottom: 0.4rem;}	.ks-mb5-sub > *:not(:first-child) { margin-bottom: 0.4rem;}

.ks-ml { margin-left: 0.2rem;}	.ks-ml-sub > *:not(:first-child) { margin-left: 0.2rem;}
.ks-ml0 { margin-left:0 !important;}
.ks-ml1 { margin-left: 0.1rem;}	.ks-ml1-sub > *:not(:first-child) { margin-left: 0.1rem;}
.ks-ml2 { margin-left: 0.15rem;}	.ks-ml2-sub > *:not(:first-child) { margin-left: 0.15rem;}
.ks-ml3 { margin-left: 0.2rem;}	.ks-ml3-sub > *:not(:first-child) { margin-left: 0.2rem;}
.ks-ml4 { margin-left: 0.3rem;}	.ks-ml4-sub > *:not(:first-child) { margin-left: 0.3rem;}
.ks-ml5 { margin-left: 0.4rem;}	.ks-ml5-sub > *:not(:first-child) { margin-left: 0.4rem;}

.ks-mtb { margin-top: 0.2rem; margin-bottom: 0.2rem;}		.ks-mtb-sub > * { margin-top: 0.2rem; margin-bottom: 0.2rem;}
.ks-mtb0 { margin-top: 0 !important; margin-bottom:0 !important;}	.ks-mtb0-sub > * { margin-top: 0 !important; margin-bottom: 0 !important;}
.ks-mtb1 { margin-top: 0.1rem; margin-bottom: 0.1rem;}		.ks-mtb1-sub > * { margin-top: 0.1rem; margin-bottom: 0.1rem;}
.ks-mtb2 { margin-top: 0.15rem; margin-bottom: 0.15rem;}	.ks-mtb2-sub > * { margin-top: 0.155rem; margin-bottom: 0.15rem;}
.ks-mtb3 { margin-top: 0.2rem; margin-bottom: 0.2rem;}	.ks-mtb3-sub > * { margin-top: 0.2rem; margin-bottom: 0.2rem;}
.ks-mtb4 { margin-top: 0.3rem; margin-bottom: 0.3rem;}	.ks-mtb4-sub > * { margin-top: 0.3rem; margin-bottom: 0.3rem;}
.ks-mtb5 { margin-top: 0.4rem; margin-bottom: 0.4rem;}	.ks-mtb5-sub > * { margin-top: 0.4rem; margin-bottom: 0.4rem;}

.ks-mlr { margin-left: 0.2rem; margin-right: 0.2rem;}		.ks-mlr-sub > * { margin-left: 0.2rem; margin-right: 0.2rem;}
.ks-mlr0 { margin-left: 0 !important; margin-right:0 !important;}	.ks-mlr0-sub > * { margin-left: 0 !important; margin-right: 0 !important;}
.ks-mlr1 { margin-left: 0.1rem; margin-right: 0.1rem;}		.ks-mlr1-sub > * { margin-left: 0.1rem; margin-right: 0.1rem;}
.ks-mlr2 { margin-left: 0.15rem; margin-right: 0.15rem;}	.ks-mlr2-sub > * { margin-left: 0.155rem; margin-right: 0.15rem;}
.ks-mlr3 { margin-left: 0.2rem; margin-right: 0.2rem;}	.ks-mlr3-sub > * { margin-left: 0.2rem; margin-right: 0.2rem;}
.ks-mlr4 { margin-left: 0.3rem; margin-right: 0.3rem;}	.ks-mlr4-sub > * { margin-left: 0.3rem; margin-right: 0.3rem;}
.ks-mlr5 { margin-left: 0.4rem; margin-right: 0.4rem;}	.ks-mlr5-sub > * { margin-left: 0.4rem; margin-right: 0.4rem;}


